body {background-color:#22396A; 
color:white;}
a {background-color:red;  }
h2 {color:#31bb66;}
footer {text-align: center; }
header div {text-align: center;}
header h1{text-align: center;}
header p{text-align: center;}
footer a {background-color:red;}


